header {
  height: 100%;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  -webkit-box-shadow: -25px -2px 76px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -25px -2px 76px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -25px -2px 76px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  background: #ffffff;

  a {
    text-decoration: none;
    color: black;
    padding: 3px;
  }

  & > {
    .profile, nav, section {
      margin: 25px 15px;
    }

    .profile {
      text-align: center;
    }

    nav {
      flex: 2;

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 15px 0px;
        }
      }

      li a {
        padding: 15px 0px;
        font-size: 20px;

        &:hover {
          color: #646464;
        }
      }
    }

    section {
      font-size: 25px;
      text-align: center;
      flex: 1;
    }
  }
}